* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*outline: black 1px dotted;*/
}

body, html {
    height: 300vh;
}

.bg-image {
  /* The image used */
  background-image: url("/assets/img/360_F_496697760_tdS4ozn74pK9vuIwh5Z7V0pNyjyvwnVG.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    top: 20%;
    left: 90%;

    ::before{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.267);
        width: 2rem;
        height: 0.5rem;
        content: "";
        transform: translate(-1rem);
    }
}

.buttons {
    opacity: 0.5;

    &:hover{
        opacity: 1;
        -webkit-box-shadow: -1px 10px 24px 0px rgba(255,255,255,1);
        -moz-box-shadow: -1px 10px 24px 0px rgba(255,255,255,1);
        box-shadow: -1px 10px 24px 0px rgba(255,255,255,1);
    }
}

.card-container {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;

    .card {
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        width: 325px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

        &:hover {
            -webkit-box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.75);
            }
    }

    .card-image {
        position: absolute;
        width: auto;
        padding: 0.5rem;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }

    .content {
        padding: 16px;

        h1 {
            color: white;
            font-size: 28px;
            margin-bottom: 8px;
        }

        p {
            color: #666;
            font-size: 15px;
            line-height: 1.3;
        }
    }
}
